{
  "extends": "standard",
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [
      2,
      {
        "ignore": [
          "electron"
        ]
      }
    ],
    "linebreak-style": 0,
    "no-unused-vars": "warn",
    "semi": [2, "always"]
  }
}
